footer {
    display: flex;
    flex-direction: row;
    background-color: $color-footer;
    color: $texto-footer;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

    .redes {
        width: 50%;
        padding: 10px;
    }

    .copyright {
        width: 50%;
        padding: 10px;
    }
}