.navbar ul {
    align-items: center;
}

.fondoNav {
    background-color: #213555;
}

.nav-link {
    color: #F0F0F0;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.3rem;

}

.logo {
    width: 70px;
    margin: 5px 0 5px 5px;

}