/* mobile */

@media only screen and (max-width:500px) {




    .banner {
        display: none;
    }

    .presentacionWeb img {
        width: 200px;
    }

    .continentes {
        flex-direction: column;

    }

    .continentes div {
        margin: 5px;
    }


    footer {
        flex-direction: column;
    }
}