footer {
    display: flex;
    flex-direction: row;
    background-color: #E5D283;
    color: #4F709C;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

    .redes {
        width: 50%;
        padding: 10px;
    }

    .copyright {
        width: 50%;
        padding: 10px;
    }
}