/* #F0F0F0 */
/* #213555 */
/* #4F709C */
/* #E5D283 */


/* fuentes fuentes cargadas  */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Signika+Negative:wght@300&display=swap');

/*font-family: 'Signika Negative', sans-serif;*/



/* Reinicio a 0 del margin y padding de la web */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuente utilizada para toda la web */
body {
    font-family: 'PT Sans', sans-serif;
    background-color: #e0e0e0;
}

html {
    font-size: 62.5%;
    /* 1rem-10px - esto facilita la utilizacion  */
    /* 1rem-16px */

}

/* Tamaños p */
p {
    font-size: 1.5rem;
}

/* Tamaños H1.... */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2.1rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.5rem;
}

main {
    width: 100%;
}
